
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}
@model VehicleTender.Entity.View.Tramer.TramerAddVM

<div class="row">
    <div class="form-group col-md-4">
        @Html.LabelFor(x => x.TramerId, new { @class = "col-md-4 control-label" })
        <div class="inputGroupContainer">
            <div class="input-group">
                @Html.DropDownListFor(x => x.TramerId, Model.TramerList, new { @class = "form-select", required = true })
            </div>
        </div>
    </div>

	<div class="form-group col-md-4">
		@Html.LabelFor(x => x.VehiclePartId, new { @class = "col-md-4 control-label" })
		<div class="inputGroupContainer">
			<div class="input-group">
				@Html.DropDownListFor(x => x.VehiclePartId, Model.VehiclePartStatus, new { @class = "form-select", required = true })
			</div>
		</div>
	</div>
    
	<div class="form-group col-md-4">
		@Html.LabelFor(x => x.PartPrice, new { @class = "col-md-4 control-label" })
		<div class="inputGroupContainer">
			<div class="input-group">
				<span class="input-group-text" id="basic-addon1"><i class="fa fa-car" aria-hidden="true"></i></span>
				@Html.TextBoxFor(x => x.PartPrice, new { @class = "form-control", Type = "number", placeholder = "Kilometre Bilgisi", required = "true",id="partPriceId" })
			</div>
		</div>
	</div>

	<div class="form-group col-md-12 text-end">
		<div>
            <input type="button" name="name" value="Ekle" class="btn btn-outline-success col-md-2" id="Ekle" onclick="TramerAdd()" />
		</div>
		
	</div>
</div>
<br /><br /><br />
<h2>Tramer Kayıt Listesi</h2>
<table class="table">
	<thead>
	<th>Araç Parçası</th>
	<th>Parça Durumu</th>
	<th>Parça Fiyatı</th>
	</thead>
	<tbody id="TenderDetailTable">
	</tbody>
</table>


<div class="form-group row text-end ">
	<div class="">
        <input type="button" name="name" value="Kaydet Ve Devam Et" class="btn btn-outline-success col-md-2" id="Ekle" onclick="TenderDetailsSave()" />
	</div>
</div>

@section jscode
{
	<script>

        function TramerAdd() {
            vehicle = document.getElementById("TramerId");
            part = document.getElementById("VehiclePartId");
            var tramer = {
                vehicleId: vehicle.value,
                partId: part.value,
                vehicleName: vehicle.options[vehicle.selectedIndex].text,
                partName: part.options[part.selectedIndex].text,
                partPrice : document.getElementById("partPriceId").value,
            };
            console.log(tramer.vehicleId);
            var tramerDetails = sessionStorage.getItem("tramerDetails");
            if (tramerDetails == null) {
                //boş
                var tramerDetailList = [];
                tramerDetailList.push(tramer);
                sessionStorage.setItem("tramerDetails", JSON.stringify(tramerDetailList));
            } else {
                //dolu
                var verilerim = JSON.parse(tramerDetails);
                var varMi = 0;
                for (var i = 0; i < verilerim.length; i++) {
                    debugger;
                    if (verilerim[i].vehicleId == tramer.vehicleId ) {
                        alert("Zaten Var Emmoğlu");
                        varMi = 1;
                        debugger;
                        return;
                    }
                }
                if (varMi == 0) {
                    verilerim.push(tramer);
                    sessionStorage.setItem("tramerDetails", JSON.stringify(verilerim));
                }
            }

            GetAllTenderDetails();


            console.log(tramer);
        };

        function GetAllTenderDetails() {
            debugger;
            var veriler = sessionStorage.getItem("tramerDetails");
            veriler = JSON.parse(veriler);
            var partName = "";
            var vehicleName = "";
            var partPrice = "";
            var tablo = "";
            for (var i = 0; i < veriler.length; i++) {
                partName = veriler[i].partName
                vehicleName = veriler[i].vehicleName
                partPrice = veriler[i].partPrice
                tablo += "<tr><td>" + vehicleName + "</td><td>" + partName + "</td><td>" + partPrice + "</td></tr>\n";
            }
            document.getElementById("TenderDetailTable").innerHTML = tablo
        }

        function TenderDetailClear() {
            sessionStorage.clear();
            alert("Tramer Temizlendi");

        }



        // tramer bilgileri post ediliyor
        function TenderDetailsSave() {
            debugger;
            var list = JSON.parse(sessionStorage.getItem("tramerDetails"));
            var vm = [];
            for (var i = 0; i < list.length; i++) {
                vm.push({
                    TramerId: list[i].vehicleId,
                    VehiclePartId: list[i].partId,
                    PartPrice: list[i].partPrice
                });
            }
            console.log(vm);
            $.ajax({
                type: "POST",
                url: "/Tramer/Add",
                data: { jsonData: JSON.stringify(vm) },
                success: function (data) {
                    alert("Tramer Kayıt Edildi");
                    sessionStorage.clear();
                    window.location.href = "/Vehicle/Add";
                },
            });
        }

    </script>

}