
@{
    ViewBag.Title = "TenderAdd";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

@model VehicleTender.Entity.View.TenderAddVMForAdmin

<div class="container">

    @using (@Html.BeginForm("Add", "Tender", FormMethod.Post, new { @class = "well form-horizontal" }))
    {
        <fieldset class="row">

            <!-- Form Name -->
            <!--<legend>Contact Us Today!</legend>-->
            <!-- Text input-->

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.TenderName, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.TenderName, new { @class = "form-control", Type = "text", placeholder = "İhale Adı", required = "true" })
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.TenderTypeId, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownListFor(x => x.TenderTypeId, Model.TenderTypes, new { @class = "form-select", required = true })
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.CorporateId, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        @Html.DropDownListFor(x => x.CorporateId, Model.CompanyNames, new { @class = "form-select", required = true })
                    </div>
                </div>
            </div>


            <!-- Statü Değişikliği İçin Kesin Bir Şey Yok-->
            @*<div class="form-group col-md-6">
                    @Html.LabelFor(x => x.FuelTypeId, new { @class = "col-md-4 control-label" })
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            @Html.DropDownListFor(x => x.FuelTypeId, Model.FuelTypes, new { @class = "form-select", required = true })
                        </div>
                    </div>
                </div>*@

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.StartDateTime, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.StartDateTime, new { @class = "form-control", Type = "datetime-local", required = "true" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.EndDateTime, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        @Html.TextBoxFor(x => x.EndDateTime, new { @class = "form-control", Type = "datetime-local", required = "true" })
                    </div>
                </div>
            </div>

            @*<div class="form-group col-md-6">
                @Html.LabelFor(x => x.MinPrice, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-car" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(x => x.MinPrice, new { @class = "form-control", Type = "number", placeholder = "Minimum Fiyat", required = "true" })
                    </div>
                </div>
            </div>*@



            @*<div class="form-group col-md-12">
                    @Html.LabelFor(x => x.Description, new { @class = "col-md-4 control-label" })
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-asterisk" aria-hidden="true"></i></span>
                            @Html.TextAreaFor(x => x.Description, new { @class = "form-control", Type = "text-area", placeholder = "Ek Özellikler", required = "true" })
                        </div>
                    </div>
                </div>*@

            <div class="form-group col-md-12 row">
	            <div class="text-end">
                    <input type="submit" name="name" value="Kaydet ve Devam Et" class="btn btn-outline-success col-md-3" id="kaydet" />
	            </div>
	            
            </div>
        </fieldset>
    }
</div>


@section jscode
{
    <script>
        $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });
    </script>
}

