
@{
    ViewBag.Title = "RetailCustomersGetAll";
    Layout = "~/Views/shared/_AdminLayout.cshtml";
}

@using VehicleTender.Entity.Concrete
@using VehicleTender.Entity.View
@model List<RetailCustomerVMForAdmin>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
	                    <h3 class="card-title">Bireysel Müşteriler</h3>
	                    <div class="row text-end">
		                    <div class="col-md3">
			                    @Html.ActionLink("Bireysel Müşteri Ekle", "Add", "RetailCustomer", "Add", new { @class = "btn btn-outline-success" })
		                    </div>
	                    </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Telefone Numarası</th>
                                    <th>Email</th>
                                    <th>Kayıt Tarihi</th>
                                    <th>Aktif Mi?</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (RetailCustomerVMForAdmin item in Model)
                                {
                                    <tr>
                                        @*@Html.HiddenFor(x => item.Id)*@
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Email</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@(item.IsActive ? "aktif" : "pasif")</td>
                                        <td>
	                                        @Html.ActionLink("Sil", "SoftDelete", new {userId=@item.UserId}, new { @class = "btn btn-outline-danger" })
                                        </td><td>
	                                        @Html.ActionLink("Güncelle", "Update", new {userId=@item.UserId}, new { @class = "btn btn-outline-warning" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Ad</th>
                                    <th>Soyad</th>
                                    <th>Telefone Numarası</th>
                                    <th>Email</th>
	                                <th>Kayıt Tarihi</th>
	                                <th>Aktif Mi?</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
             </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section jscode
{
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
                "pageLength": 7,
            });
        });</script>
}
