
@{
	Layout = "~/Views/shared/_AdminLayout.cshtml";
}


@model VehicleTender.Entity.View.Employee.EmployeeAddVM
<div class="container">

    @using (@Html.BeginForm("Add", "RetailCustomer", FormMethod.Post, new { @class = "well form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <fieldset class="row">
            
            
	        <div class="form-group col-md-6">
		        @Html.LabelFor(x => x.UserName, new { @class = "col-md-4 control-label" })
		        <div class="inputGroupContainer">
			        <div class="input-group">
				        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
				        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", Type = "text", placeholder = "Ad", required = "true" })
			        </div>
		        </div>
	        </div>


	        <div class="form-group col-md-6">
                @Html.LabelFor(x => x.FirstName, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", Type = "text", placeholder = "Ad", required = "true" })
                    </div>
                </div>
            </div>

            <!-- Text input-->

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.LastName, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", Type = "text", placeholder = "Soyad", required = "true" })
                    </div>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.Email, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", Type = "mail", placeholder = "Email", required = "true" })
                    </div>
                </div>
            </div>


            <!-- Text input-->

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.PhoneNumber, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                        @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", Type = "text", placeholder = "Telefone Numarası", required = "true" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.PasswordHash, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(x => x.PasswordHash, new { @class = "form-control", Type = "password", placeholder = "Parola", required = "true" })
                    </div>
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(x => x.PasswordHashAgain, new { @class = "col-md-4 control-label" })
                <div class="inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                        @Html.TextBoxFor(x => x.PasswordHashAgain, new { @class = "form-control", Type = "password", placeholder = "Parola Tekrar", required = "true" })
                    </div>
                </div>
            </div>


        </fieldset>

        <div class="form-group row text-end">
            <div class="">
                <input type="submit" name="name" value="Kaydet" class="btn btn-outline-success col-md-2" id="kaydet" />
            </div>

        </div>
    }
</div>
